//colors
$color_dove_gray_approx: #707070;
$color_shark_approx: #212529;
$white: #fff;
$color_japanese_laurel_approx: #008000;
$color_forest_green_approx: #10ac10;
$color_mine_shaft_approx: #303030;
$color_hokey_pokey_approx: #d69c32;
$color_cream_brulee_approx: #ffe0a1;
$color_rose_bud_approx: #ffb1a1;
$color_rice_flower_approx: #ecffe4;
$color_hawkes_blue_approx: #d9e5ff;

//fonts
$font_0: Playfair Display;
$font_1: serif;
$font_2: PT Sans;
$font_3: sans-serif;

//urls
$url_0: url(../imgs/Juice-Bottle-header-2.jpg);

//@extend-elements
//original selectors
//button, input[type="submit"], input[type="reset"]
%extend_1 {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

//original selectors
//.bars::after, .bars::before
%extend_2 {
	content: '';
	position: absolute;
	left: 0;
	width: inherit;
	height: inherit;
	background: $color_mine_shaft_approx;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: .5s;
}


* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
::after {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
::before {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
body {
	color: $color_dove_gray_approx;
	margin: 0;
	font-family: $font_0, $font_1;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	color: $color_shark_approx;
	text-align: left;
	background-color: $white;
}
h1 {
	font-family: $font_2, $font_3;
}
h2 {
	font-family: $font_2, $font_3;
}
h3 {
	font-family: $font_2, $font_3;
}
h4 {
	font-family: $font_2, $font_3;
}
button {
	font-family: $font_2, $font_3;
	@extend %extend_1;
}
.img-fluid {
	max-width: 300px;
	width: 100%;
	height: auto;
}
main {
	margin-top: 80px;
	display: block;
}
article {
	display: block;
}
aside {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
	padding: 50px 0;
}
a {
	text-decoration: none;
}
.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	//Instead of the line below you could use @include user-select($select)
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	margin: 15px 0;
	font-family: $font_2, $font_3;
	font-size: 1rem;
	line-height: 1.5;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: .25rem;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	&:focus {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
}
input[type="submit"] {
	@extend %extend_1;
}
input[type="reset"] {
	@extend %extend_1;
}
.btn-primary {
	color: $white;
	background-color: $color_japanese_laurel_approx;
	border-color: $color_japanese_laurel_approx;
	&:hover {
		color: $white;
		background-color: $color_forest_green_approx;
		border-color: $color_forest_green_approx;
	}
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
.navbar {
	background: $white;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	> .container {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
}
.navbar-brand {
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	img {
		height: 30px;
		width: auto;
	}
}
.bars {
	width: 30px;
	height: 2px;
	margin: 15px 0;
	background: $color_mine_shaft_approx;
	position: relative;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: .5s;
}
.bars::after {
	@extend %extend_2;
	top: 10px;
}
.bars::before {
	@extend %extend_2;
	top: -10px;
}
#header {
	background: $url_0 no-repeat center center;
	margin: 0;
	background-size: cover;
	height: 500px;
	font-family: $font_2, $font_3;
	.container {
		text-align: right;
		color: $color_hokey_pokey_approx;
		h1 {
			margin: 0;
			font-size: 2.1rem;
			font-weight: 800;
		}
		p {
			font-size: 8rem;
			font-weight: 900;
			margin: 0;
			line-height: 7rem;
		}
		.header-content {
			display: flex;
			text-align: center;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 325px;
			height: 400px;
			float: right;
		}
	}
}
.products-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 10%;
	.product {
		position: relative;
		&:nth-child(4n+1) {
				img {
					position: absolute;
					top: 0;
					right: 0;
				}
				.product__text {
					top: 15%;
					left: 0;
					height: 70%;
					width: 80%;
					padding-right: 18%;
				}
      &::after {
				top: 15%;
				right: 10%;
				height: 70%;
				width: 80%;
				background: $color_cream_brulee_approx;
			}
		}
		&:nth-child(4n+2) {
				img {
					position: absolute;
					bottom: 0;
					left: -20px;
				}
				.product__text {
					bottom: 10%;
					right: 0;
					height: 60%;
					width: 80%;
					text-align: right;
					padding-left: 18%;
				}
			&::after {
				bottom: 10%;
				right: 10%;
				height: 60%;
				width: 80%;
				background: $color_rose_bud_approx;
			}
		}
		&:nth-child(4n+3) {
				img {
					position: absolute;
					bottom: 0;
					left: -40px;
				}
				.product__text {
					bottom: 10%;
					right: 0;
					height: 70%;
					width: 80%;
					text-align: right;
					padding-left: 18%;
				}
			&::after {
				bottom: 10%;
				left: 10%;
				height: 70%;
				width: 80%;
				background: $color_rice_flower_approx;
			}
		}
		&:nth-child(4n+4) {
				img {
					position: absolute;
					top: -10px;
					right: -10px;
				}
				.product__text {
					bottom: 5%;
					left: 0;
					height: 70%;
					width: 85%;
					padding-right: 18%;
				}
			&::after {
				bottom: 5%;
				left: 10%;
				height: 70%;
				width: 85%;
				background: $color_hawkes_blue_approx;
			}
		}
		.product__text {
			content: '';
			position: absolute;
			z-index: 2;
			padding: 0;
			h2 {
				font-size: 27px;
			}
			p {
				padding: 0 70px 20px;
				text-align: left;
				font-size: 16px;
			}
		}
	}
	.product::after {
		content: '';
		position: absolute;
		z-index: -1;
	}
}
.swiper-container {
	width: 100%;
	height: 400px;
	overflow: hidden;
}
.swiper-slide {
	display: flex;
	justify-content: space-between;
	align-items: center;
	h4 {
		position: relative;
		margin: 20px 0;
		left: 0;
		opacity: 0;
		width: 0;
		font-size: 3rem;
		overflow: hidden;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: 2s ease-in-out;
	}
	&.swiper-slide-active {
		h4 {
			opacity: 1;
			left: -100px;
			width: 100%;
			white-space: nowrap;
		}
		.swiper-slide__description {
			opacity: 1;
			right: 0;
		}
	}
}
.swiper-slide__description {
	opacity: 0;
	position: absolute;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: 1.5s;
	width: 30%;
	height: 300px;
	right: -300px;
	font-weight: 600;
	font-size: 1.2em;
}
.swiper-slide__product {
	background: $color_dove_gray_approx;
	width: 80%;
	height: 400px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
@media(min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media(min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media(min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media(min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media(max-width: 992px) {
	.products-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0 0;
	}
}
.hamburger:hover {
	.bars {
		background: transparent;
	}
	.bars::after {
		top: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotateZ(225deg);
	}
	.bars::before {
		top: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotateZ(135deg);
	}
}
